<%= form_with(model: @task, local: true ) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>
   <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail %>
  </div>
  <div class="field">
    <%= form.label :deadline %>
    <%= form.text_area :deadline %>
  </div>
  <div class="field">
    <%= form.label :status %>
     <%= form.select :status, [ 'Unstarted', 'Inprogress', 'Complete' ], :prompt => 'Select Status' %>
  </div>
  <div class="actions">
    <%= form.label :priority %>
    <%= form.select :priority, [['High','1'], ['Medium','2'], ['Low', '3']] %>
  </div>

  <% Label.all.each do |label| %>
  <td><%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
    <label style="backgrund-color: aquamarine"><%= label.name %></label>
<% end %>

    <%= form.submit %>
  <% end %>
