<p id="notice"><%= notice %></p>
<p>
  <strong>User name:</strong>
  <%= @task.user.name %>
  </p>
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
<p>
<strong>Detail:</strong>
<%= @task.detail %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
</div>
