<p id="notice"><%= notice %></p>
<div class ="col-md-6">
<p>
<strong>User name:</strong>
 <%= @task.user.name %>
 </p>
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
<p>
<strong>Detail:</strong>
<%= @task.detail %>
</p>
<p>
<strong>Deadline:</strong>
<%= @task.deadline %>
</p>
<p>
<strong>Registration date:</strong>
<%= @task.created_at %>
</p>
<p>
<strong>Status:</strong>
<%= @task.status %>
</p>
<p>
<strong>Priority:</strong>
<%= @task.priority.present? %>
<%if @task.priority == 1%>
     <span> High </span>
  <%elsif @task.priority == 2%>
     <span> Medium </span>
   <%elsif @task.priority == 3%>
      <span> Low </span>
    </p>
   <% end %>
   <p>
    <strong>Lable: </strong>
    <% @task.labels.each do |lable| %>
        [<%= lable.name %>]
        <% end %>
    </p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
</div>
