<h2 class ="center"> List of Users</h2>
<br>

<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <td>User_Id</td>
      <td>User_name</td>
      <td>Email</td>
      <td> No of Tasks </td>
      <td>privilages</td>
      <td clospan="4"></td>
   </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.name, admin_user_path(user.id) %></td>
      <td><%= user.email %></td>
      <td><%= user.tasks.length %>
      <td><%= user.admin? ? "yes" : "No" %></td>
      <td><button type="button" class="btn btn-success"><%= link_to 'Show', admin_user_path(user.id) %></td>
      <td><button type="button" class="btn btn-success"><%= link_to 'Edit', edit_admin_user_path(user.id) %></td>
      <td><button type="button" class="btn btn-danger"><%= link_to 'Destroy', admin_user_path(user.id), method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
    </tr>

<% end %>

</tbody>
</table>
<br>
<%= link_to 'Create user', new_admin_user_path, class:"btn btn-info "%>
<br>
