<div class="field">

<h1 class ="center"><%= @user.name %>'s page</h1>
<div class ="col-md-6">
<table>
  <thead>

    <tr>
      <th>ID</th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th>UserName</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>priviledges</th>
      <td><%= @user.admin? ? "yes":"no" %></td>
    </tr>
    <tr>
      <td><%= link_to 'return to user ranagement', admin_users_path %></td>
    </tr>
    </thead>
   </table>
  </div>
 <hr>
<div class="text-right">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Detail</th>
    <th>Deadline</th>
    <th>Status</th>
    <th>Priority</th>
  </tr>
  <thead>
</table>
</div>
<div class="text-left">
<table class="table table-striped">
   <% @tasks.each do |task| %>
     <tr >
       <td><%= task.title %></td>
       <td><%= task.detail %></td>
       <td><%= task.deadline %></td>
       <td><%= task.status %></td>
       <td><%= task.priority %></td>
     </tr>
  <% end %>
  </table>
 </div>
</div>
